<p>I have a lot of interests and this place is a catch all. If you prefer
    to only follow a couple topics then check out my <a href="">feeds</a> page for category specific RSS feeds. 
</p>
<aside>
    <div style="text-align:center;">
        <a style="flex: 1 0 0;" target="_blank" href="https://indieweb.org/">
        <img src="https://heyloura.com/uploads/2022/4af033892a.png" alt="IndieWebCamp" style="image-rendering:pixelated;">
        </a>
        <img src="https://heyloura.com/uploads/2022/04d164b1ac.png" alt="Webmention" style="image-rendering:pixelated;">
        <img src="https://heyloura.com/uploads/2022/927e2836c9.png" alt="Microformats" style="image-rendering:pixelated;">
    </div>
    <header><h5>Other web spaces</h5></header>
    <ul style="text-align: left;">
        <li><a target="_blank" href="https://micro.blog/heyloura">✴️ Micro.blog account</a></li>
        <li><a target="_blank" href="gemini://capsule.heyloura.com">🚀 Hosted on the Gemini Protocol</a></li>
        <li><a target="_blank" href="https://micro.blog/heyloura?remote_follow=1">💫 @heyloura@heyloura.com</a></li>      
        <li><a target="_blank" href="https://github.com/heyloura">🐈‍⬛ Github Projects</a></li>
    </ul>
    <header><h5>Web rings</h5></header>
    <ul>
        <li>Indieweb <a target="_blank" href="https://xn--sr8hvo.ws">🕸️💍</a>
        <a target="_blank" href="https://xn--sr8hvo.ws/%F0%9F%91%8D%F0%9F%93%8A%F0%9F%92%85/previous">⬅️</a>
        <a target="_blank" href="https://xn--sr8hvo.ws/%F0%9F%91%8D%F0%9F%93%8A%F0%9F%92%85/next">➡️</a></li>
    </ul>
        
</aside>