<div id="bottom" class="window" style="z-index:1001;--window-background-color:#f2f2f2">
    <div class="title-bar">
        <button evt-click="toggle-window" evt-target="modal-start">🪟 Start</button>
        <div class="app-buttons">
            <button class="fab" evt-click="toggle-window" evt-target="modal-menu">📲 windows (2)</button>
            <button evt-click="toggle-window" evt-target="modal-index">🌐 index.html</button>
            <button evt-click="toggle-window" evt-target="modal-change-log">📝 change log</button>
        </div>
        <p>🛜🕸️</p>
        <p>7/16/2025 9:41AM</p>
    </div>
</div>