<div class="blog-nav" style="display:flex;margin: 11px auto;max-width:80ch;">
    <a href="/"><img src="https://pix.crd.co/assets/images/gallery02/5de32b44_original.gif?v=daeffd27" />Home</a>
    <a href="/"><img src="https://pix.crd.co/assets/images/gallery04/b92c7cd9_original.gif?v=daeffd27" />About</a>
    <a href="/"><img src="https://pix.crd.co/assets/images/gallery07/f61ca01c_original.png?v=daeffd27" />?</a>
    <a href="/"><img src="https://pix.crd.co/assets/images/gallery08/ee89ba04_original.gif?v=daeffd27" />?</a>
    <a href="/"><img src="https://pix.crd.co/assets/images/gallery12/8599276f_original.gif?v=daeffd27" />Archive</a>
    <a href="/"><img src="https://pix.crd.co/assets/images/gallery27/2750a332_original.gif?v=daeffd27" />Search</a>
</div>