{{ define "main" }}
<div class="window active glass" id="modal-index" role="dialog" aria-labelledby="dialog-index-title">
    <div class="hl-dot hl-right-bottom"></div>
    <div class="title-bar" id="modal-index-titlebar">
        <div class="title-bar-text" id="dialog-index-title">https://heyloura.com/index.html</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize" evt-click="minimize-window"></button>
            <button aria-label="Maximize" evt-click="maximize-window"></button>
            <button aria-label="Close" evt-click="close-window"></button>
        </div>
    </div>
    <div class="window-body has-space blog has-scrollbar">
        <div class="blog-title">
            <div style="text-align:center;" class="wordart italic-outline"><span class="text">Hey Loura!</span></div>
        </div>
        {{ partial "navigation.html" . }}
        <div style="display:flex;max-width:80ch;margin: 0px auto;">
            {{ partial "categories.html" . }}
            <div class="has-space">
                <p>Thanks for visiting my website! Or as I like to call it, my web desktop.
                    This is a space that I play around with web technologies, share my thoughts 
                    and my half-baked projects. Feel free to explore by clicking around.
                </p>
                <div class="blog-page">
                    <div class="h-feed">
                        <p><b>Some recently created or updated posts</b></p>
                        {{ $pages := where .Site.Pages.ByDate.Reverse "Type" "post" }}
                        {{ $pages = where $pages "Params.title" "ne" nil }}
                        {{- $paginator := .Paginate $pages (index .Site.Params "archive-paginate" | default 6) }}
                        <ul>
                        {{- range $paginator.Pages  }}
                            <li><a swap-target=".blog-page" swap-history="true" href="{{ .Permalink }}">{{ .Title }}</a></li>
                        {{ end }}
                        </ul>
                    </div>
                </div>
                {{ partial "blog-footer.html" . }}
            </div>
        </div>
    </div>
</div>
{{ end }}